<div class="container">
  <form method="POST" action="/avocados/<%= avocado.id %>">
    <input type="hidden" name="_method" value="PUT">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" name="name" type="text" placeholder="Name" value="<%= avocado.name %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Country of Origin</label>
      <div class="control">
        <input class="input" name="origin" type="text" placeholder="Country of Origin" value="<%= avocado.origin %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Image</label>
      <div class="control">
        <input class="input" name="image" type="text" placeholder="Image" value="<%= avocado.image %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Tasting Notes</label>
      <div class="control">
        <textarea class="textarea" name="tastingNotes" placeholder="Tasting Notes"><%= avocado.tastingNotes %></textarea>
      </div>
    </div>
    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
  </form>
</div>
