<div class="container">
  <div class="columns">
    <div class="column">
      <figure class="image">
        <img src="<%= avocado.image %>" alt="<%= avocado.name %>">
      </figure>
    </div>
    <div class="column">
      <h3 class="title"><%= avocado.name %></h3>
      <h4 class="subtitle"><%= avocado.origin %></h4>
      <div class="icon is-small">
        <i class="fa fa-pencil"></i>
      </div>
      <p><%= avocado.tastingNotes %></p>
      <%# avocado.user allows the user to add a new avocado%>
      <%# below displays the username in bold%>
      <% if (avocado.user) { %>
        <p>Added by: <strong><%= avocado.user.username %></strong></p>
        <% } %>
      <br>
      <% if(locals.isAuthenticated && avocado.user && avocado.user.id === locals.currentUser.id) { %>
        <form method="POST" action="/avocados/<%= avocado.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <a class="button is-primary" href="/avocados/<%= avocado.id %>/edit">Edit</a>
          <button class="button is-danger">Delete</button>
        </form>
      <% } %>
    </div>
  </div>
</div>
