<div class="container">
  <div class="columns">
    <div class="column">
      <figure class="image">
        <% if(locals.isAuthenticated) { %>
          <form method="POST" action="/avocados/<%= avocado.id %>/favorite" class="favorite">
            <button>
              <% if(locals.currentUser.hasFavorited(avocado)) { %>
                <i class="fa fa-heart"></i>
              <% } else { %>
                <i class="fa fa-heart-o"></i>
              <% } %>
            </button>
          </form>
        <% } %>
        <img src="<%= avocado.image %>" alt="<%= avocado.name %>">
      </figure>
    </div>
    <div class="column">
      <h3 class="title"><%= avocado.name %></h3>
      <h4 class="subtitle"><%= avocado.origin %></h4>
      <div class="icon is-small">
        <i class="fa fa-pencil"></i>
      </div>
      <p><%= avocado.tastingNotes %></p>
      <% if(avocado.user) { %>
        <p>Added by: <strong><a href="/users/<%= avocado.user.id %>"><%= avocado.user.username %></a></strong></p>
      <% } %>
      <br>
      <% if(avocado.isOwnedBy(locals.currentUser)) { %>
        <form method="POST" action="/avocados/<%= avocado.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <a class="button is-primary" href="/avocados/<%= avocado.id %>/edit">Edit</a>
          <button class="button is-danger">Delete</button>
        </form>
      <% } %>
    </div>
  </div>
</div>
