<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Avocado Recipe Board</title>
  <%- include ./partials/_stylesheets %>
</head>
<body <% if(locals.isHomepage) { %>class="home"<% } %>>
  <%- include ./partials/_navbar %>
  <% if(!locals.isHomepage) { %><main class="section"><% } %>
    <% for (const type in messages) { %>
     <p class="notification is-<%= type %>"><%= messages[type] %></p>
   <% } %>
    <%- body %>
  <% if(!locals.isHomepage) { %></main><% } %>
  <%- include ./partials/_scripts %>
</body>
</html>
