<%# EDIT    GET   /recipes/:id/edit    A pre-populated form

URL EXAMPLE:
8000/recipes/59b64fd492e139117b2963ef/edit %>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form method="POST" action="/recipes/<%= recipe.id %>">
        <input type="hidden" name="_method" value="PUT">

        <div class="form-group">
          <label class="label"><strong>Recipe Name</strong></label>
          <div class="control">
            <input class="input form-control" name="name" type="text" placeholder="Enter recipe name..." value="<%= recipe.name %>">
          </div>
        </div>

        <div class="form-group">
          <label class="label"><strong>Avocado Recipe Type</strong></label>
          <select class="form-control" name="recipeType">
            <option selected disabled>Select</option>
            <option>Mashed</option>
            <option>Baked</option>
            <option>Chopped</option>
            <option>Blended</option>
            <option>Frozen</option>
            <option>Juiced</option>
          </select>
        </div>

        <div class="form-group">
          <label class="label"><strong>Method</strong></label>
          <div class="control">
            <textarea class="textarea form-control" name="method" placeholder="Make a new line for each method step" maxlength="900"><%= recipe.methodString %></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="label"><strong>Ingredients</strong></label>
          <div class="control">
            <textarea class="textarea form-control" name="ingredients" placeholder="List one ingedient per line" maxlength="900"><%= recipe.ingredientsString %></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="label"><strong>Image</strong></label>
          <div class="control">
            <input class="input form-control" name="image" type="text" placeholder="Input image URL" value="<%= recipe.image %>">
          </div>
        </div>

        <div class="form-group">
          <label class="label"><strong>Tasting Notes</strong> <i>(900 chars max length)</i></label>
          <div class="control">
            <textarea class="textarea form-control" name="tastingNotes" placeholder="Tasting Notes (380 chars max length)" maxlength="900"><%= recipe.tastingNotes %></textarea>
          </div>
        </div>

        <div class="control">
          <button class="btn btn-success"><strong>Submit</strong></button>
        </div>
      </form>
    </div>
  </div>
</div>
