<%# SHOW    GET   /recipes/:id    Show all the recipes

URL EXAMPLE:
8000/recipes %>





<%# --- FOR USER FAVORITNG --- %>
<div class="container">
  <div class="columns">
    <div class="column">
      <figure class="image">
        <% if(locals.isAuthenticated) { %>
          <form method="POST" action="/recipes/<%= recipe.id %>/favorite" class="favorite">
            <button>
              <% if(locals.currentUser.hasFavorited(recipe)) { %>
                <i class="fa fa-heart"></i>
              <% } else { %>
                <i class="fa fa-heart-o"></i>
              <% } %>
            </button>
          </form>
        <% } %>
        <img src="<%= recipe.image %>" alt="<%= recipe.name %>">
      </figure>
    </div>







<div class="container">
  <div class="row">
    <div class="col-4 leftColShow">
      <figure class="image">
        <img src="<%= recipe.image %>" alt="<%= recipe.name %>">
      </figure>

    <div class="column">
      <h3 class="title"><%= recipe.name %></h3>
      <h4 class="subtitle"><%= recipe.origin %></h4>
      <div class="icon is-small">
        <i class="fa fa-pencil"></i>
      </div>

      <p><%= recipe.tastingNotes %></p><%# recipe.user allows the user to add a new recipe%>
      <%# below displays the username in bold%>
      <% if (recipe.user) { %>
        <p>Added by: <strong><%= recipe.user.username %></strong></p>
        <% } %>
      <br>
      <% if(locals.isAuthenticated && recipe.user && recipe.user.id === locals.currentUser.id) { %>
        <form method="POST" action="/recipes/<%= recipe.id %>">
          <input type="hidden" name="_method" value="DELETE">

          <div class="form-group">
          <div class="control">
            <a class="btn btn-primary" href="/recipes/<%= recipe.id %>/edit">Edit Your Recipe</a>
          </div>
          </div>
          <div class="control">
            <button class="btn btn-danger">Delete Your Recipe</button>
          </div>
        </form>
      <% } %>
    </div>
</div>
<%# PRINTING OUT THE INGREDIENTS IN A LIST FORMAT %>
<div class="col-4 leftColShow">
<h3>Recipe Ingredients</h3>
<ul>
<% recipe.ingredients.forEach(ingredient => {%>
    <li class="bulletPoint"><%= ingredient %></li>
  <%})
%>
</ul>



<%# PRINTING OUT THE METHOD IN BULLET POINT STYLE%>


  <h3>Recipe Method</h3>
  <ul>
    <% recipe.method.forEach(method => {%>
      <li class="bulletPoint"><%= method %></li>
    <%})
    %>
  </ul>
</div>


<%# ---- COMMENT FORM ---- %>
<div class="col-4 leftCommentColShow">
<% if(locals.isAuthenticated) { %>
  <form method="POST" action="/recipes/<%= recipe.id %>/comments" class="commentForm">
    <div class="form-group">
      <label>Comment</label>
      <textarea name="text"  class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label>Rate The Avocado Recipe</label><br>
      <label>
        1 <input type="radio" value="1" name="rating">
      </label>
      <label>
        2 <input type="radio" value="2" name="rating">
      </label>
      <label>
        3 <input type="radio" value="3" name="rating">
      </label>
      <label>
        4 <input type="radio" value="4" name="rating">
      </label>
      <label>
        5 <input type="radio" value="5" name="rating">
      </label>
    </div>

    <button class="btn btn-success">Submit Comment</button>
  </form>
<% } %>

<%# ---- PRINTS OUT COMMENTS AND RATING ---- %>
<%# ---- PRINTING A COMMENTS DELETE BUTTON ---- %>
<%# We want to add a delete button for each comment on the restaurants show page. We need to create a form for each delete button so that we can use method override to turn the POST request into a DELETE request.%>
<ul>
  <% recipe.comments.forEach(comment => { %>
    <li>
  <div class="input-append">
      <%= comment.text %> - <%= comment.rating %>/5 - <%= comment.user.username %>
      <form method="POST" action="/recipes/<%= recipe.id %>/comments/<%= comment.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn btn-danger">X</button>
      </form>
  </div>
    </li>
  <% }) %>
</ul>
</div>
</div>
</div>
